.menu__main {
  display: flex;

  @media (max-width: 800px) {
    display: none;
  }
}

.menu__contacts {
  display: flex;
  padding-top: 2px;

  @media (max-width: 900px) {
    padding-top: 0;

    .menu__item:first-child {
      margin-right: 15px;
    }
  }

  @media (max-width: 800px) {
    .menu__item:last-child {
      display: none;
    }
  }
}

.menu__burger {
  display: none;

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.menu__item {
  line-height: 150%;
  margin-left: 29px;

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(3) {
    margin-left: 28px;
  }

  &:nth-child(4) {
    margin-left: 29px;
  }

  &:nth-child(5) {
    margin-left: 33px;
  }

  @media (max-width: 900px) {
    margin-left: 15px;

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      margin-left: 15px;
    }
  }
}
