@use 'variables.scss' as v;

body {
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: v.$main-text;
  margin: 0;
  background-color: #f3f2f0;
}

a {
  color: v.$main-text;
  text-decoration: none;
}

a:hover {
  color: v.$accent-text;
  text-decoration: none;
}

a:active {
  color: #000000;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  display: flex;
}

ul {
  margin: 0;padding: 0;
  list-style: none;
}
