@use 'variables.scss' as v;

.page__h1 {
  font-size: 74px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: v.$main-text;

  @media (max-width: 900px) {
    font-size: 50px;
  }
}

.page__h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: v.$main-text;
}

.page__h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  opacity: 0.8;
}

.page__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.page__menu--line {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -14px;
    display: block;
    height: 24px;
    width: 2px;
    background-color: v.$main-text;
    opacity: 20%;
  }
}

.page__discuss-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  margin-left: 2px;
  letter-spacing: 0.1px;
  padding-bottom: 12px;
  padding-right: 8px;

  &::after {
    position: relative;
    content: "\27F6";
    left: 13px;
  }

  &:hover {
    color: v.$main-text;
    border-bottom: 2px solid v.$main-text;
  }
}

.page__modal {
  display: none;

  position: fixed;
  z-index: 100;
  width: 100%;

  background-color: v.$main-background;
}
