@use '../../global/variables.scss' as v;

.about__pic {
  margin-top: 124px;

  @media (max-width: 800px) {
    margin-top: 0;

    img {
      margin: 0 auto;
      width: 100%;
    }
  }
}

.about__name {
  font-size: 28px;
  line-height: 150%;
  margin-top: 120px;
  margin-bottom: 0;
  letter-spacing: 0.2px;
  position: relative;
  z-index: 2;

  @media (max-width: 650px) {
    font-size: 18px;
  }

  @media (max-width: 550px) {
    margin-top: 60px;
  }

  @media (max-width: 360px) {
    letter-spacing: 0.1px;
  }
}

.about__title {
  margin-top: 30px;
  letter-spacing: 3px;
  position: relative;
  z-index: 1;

  &::before {
    display: block;
    position: absolute;
    z-index: -1;
    content: '';
    width: 253px;
    height: 253px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: #fff;
    top: -127px;
    left: -126px;

    @media (max-width: 650px) {
      width: 135px;
      height: 135px;
      top: -69px;
      left: -41px;
    }

    @media (max-width: 360px) {
      top: -71px;
      left: -52px;
    }
  }

  &::after {
    display: block;
    position: absolute;
    z-index: -1;
    content: '';
    width: 0;
    height: 0;
    left: -150px;
    top: -92px;
    border-style: solid;
    border-color: transparent;
    border-right-width: 33px;
    border-left-width: 33px;
    border-bottom: 71px solid v.$accent-text;

    @media (max-width: 900px) {
      top: 65px;
      left: 0;
    }

    @media (max-width: 650px) {
      border-right-width: 17px;
      border-left-width: 16px;
      border-bottom: 38px solid v.$accent-text;
      top: 44px;
    }

    @media (max-width: 360px) {
      border-right-width: 15px;
      border-left-width: 15px;
      border-bottom: 28px solid #D40000;
      top: 54px;
      left: 2px;
    }
  }

  @media (max-width: 650px) {
    margin-top: 20px;
  }

  @media (max-width: 360px) {
    letter-spacing: 1.1px;
  }
}

.about__dash {
  position: relative;
  bottom: 5px;

  @media (max-width: 360px) {
    bottom: 2px;
  }
}

.about__connect {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;

  @media (max-width: 360px) {
    margin-top: 99px;
  }
}

.about__socials {
  display: flex;
}

.about__methods {
  border-top: 1px solid v.$main-text;
  margin-top: 59px;
  padding-top: 46px;

  @media (max-width: 360px) {
    margin-top: 40px;
    padding-top: 41px;
  }
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 143px;

  @media (max-width: 1000px) {
    margin-top: 50px;
  }

  @media (max-width: 850px) {
    align-items: baseline;
  }

  @media (max-width: 750px) {
    flex-direction: column;
  }

  @media (max-width: 360px) {
    margin-top: 41px;
  }
}

.about__subtitle {
  font-size: 28px;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.03em;
  margin-left: 1px;

  @media (max-width: 850px) {
    font-size: 20px;
  }

  @media (max-width: 360px) {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.about__slogan {
  font-size: 28px;
  max-width: 560px;
  opacity: 0.8;
  letter-spacing: 0.3px;
  line-height: 150%;
  margin-top: 23px;

  @media (max-width: 900px) {
    font-size: 20px;

    br {
      display: none;
    }
  }

  @media (max-width: 750px) {
    font-size: 16px;
    max-width: unset;
    margin-top: 0;
  }

  @media (max-width: 360px) {
    letter-spacing: 0;

    br {
      display: block;
    }
  }
}

.about__services {
  margin-top: 31px;
  border-top: 1px solid v.$main-text;

  @media (max-width: 360px) {
    margin-top: 23px;
  }
}
