@use '../../global/variables.scss' as v;

.tell-us__wrapper {
  margin-top: 158px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid v.$main-text;
  padding-bottom: 59px;
}

.tell-us__title {
  max-width: 286px;
  position: relative;

  &::before, &::after {
    display: block;
    position: absolute;
    z-index: -1;
    content: "";
  }

  &::before {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: #fff;
    top: -29px;
    left: -152px;
  }

  &::after {
    width: 0;
    height: 0;
    left: -175px;
    top: 21px;
    border-style: solid;
    border-color: transparent;
    border-right-width: 31px;
    border-left-width: 31px;
    border-bottom: 71px solid #D40000;
  }
}

.tell-us__description {
  font-size: 28px;
  max-width: 483px;
  margin-right: 76px;
  margin-top: 23px;
  line-height: 150%;
  letter-spacing: 0.2px;
}

.tell-us__connect {
  display: flex;
  justify-content: space-between;
}

.tell-us__socials {
  display: flex;
  margin-top: auto;

  .page__menu--line {
    &::before {
      top: -4px;
      left: -28px;
      width: 1px;
    }
  }
}

.tell-us__form {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding-top: 60px;
}
